<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat_Room</title>
  </head>
  <body>
    <input id="chat_room_id" type="text" hidden value="<%= chat_room_id %>" />
    <div class="container">
      <button class="back-button">Back</button>
      <div class="chat-container">
        <div class="convo">
          <% if(messages.length <= 0) { %>
          <h2>Start convo</h2>
          <% } else { %> <% for(let msg of messages) { %>
          <div class="message-container <%= msg.isMine ? 'you' : 'friend' %>">
            <div class="username"><%= msg.from %></div>
            <div class="content"><%= msg.content %></div>
          </div>
          <% } %> <% } %>
        </div>
        <div class="input-panel">
          <textarea
            class="message-input"
            placeholder="Type your message..."
            rows="1"
          ></textarea>
          <button class="send-button">Send</button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  const my_id = document.cookie
    .split("; ")
    .find((e) => e.startsWith("id"))
    .split("=")
    .pop();

  const chat_room_id = document.getElementById("chat_room_id").value;

  const message_input = document.querySelector(".message-input");

  message_input.addEventListener("keydown", async (e) => {
    if (e.key === "Enter" && e.shiftKey) {
      return;
    } else if (e.key === "Enter" && !e.shiftKey) {
      sent_message(e);
    }
  });

  const send_button = document.querySelector(".send-button");

  send_button.addEventListener("click", async (e) => sent_message(e));

  async function sent_message(e) {
    e.preventDefault();

    const send_message_res = await fetch(`http://localhost:7000/send-message`, {
      method: "POST",
      headers: {
        "content-type": "application/json",
      },
      body: JSON.stringify({
        from: my_id,
        chat_room_id: chat_room_id,
        content: message_input.value,
      }),
    });

    message_input.value = "";
  }

  // ----- recieve message (websocket) ----- //

  // Object structure
  /*
      {
        from: "JJ10"
        content: "hello"
      }
    */

  const convo_container = document.querySelector(".convo");

  const ws = new WebSocket("ws://localhost:7000");

  ws.onmessage = (ev) => {
    const json_data = JSON.parse(ev.data);

    if (json_data.chat_room_id !== chat_room_id) return;

    const div = document.createElement("div");

    div.classList.add("message-container");

    if (json_data.from === my_id) {
      div.classList.add("you");
    } else {
      div.classList.add("friend");
    }

    div.innerHTML = `
        <div class="username">${json_data.from}</div>
        <div class="content">${json_data.content}</div>
      `;

    convo_container.appendChild(div);
  };
</script>

<style>
  .container {
    border: 1px solid black;
    height: 100svh;
    width: 100%;
  }

  .chat-container {
    border: 1px solid black;
    height: 500px;
    width: 600px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
  }

  .convo {
    flex-grow: 10;
    border: 1px solid red;
    margin-top: 4px;
    margin-inline: 4px;
    padding: 5px;
  }

  .input-panel {
    flex-grow: 1;
    border: 1px solid blue;
    padding: 5px;
    margin: 4px;
  }

  .message-container {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    box-shadow: 1px 1px 3px black;
  }

  .username {
    font-size: 0.8rem;

    color: grey;
  }

  .content {
    white-space: pre-line;
  }

  .you {
    text-align: right;
    background-color: greenyellow;
  }

  .friend {
    background-color: rgb(237, 237, 237);
  }
</style>
