<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<!-- render here -->

		<div class="container">
			<div class="content">
				<div class="sidebar">
					<div class="sidebar-header">
						<div class="my-profile"></div>
					</div>
					<div class="sidebar-friendList">
						<div class="sidebar-friends"></div>
						<div class="sidebar-friends"></div>
						<div class="sidebar-friends"></div>
						<div class="sidebar-friends"></div>
						<div class="sidebar-friends"></div>
						<div class="sidebar-friends"></div>
						<div class="sidebar-friends"></div>
						<div class="sidebar-friends"></div>
						<div class="sidebar-friends"></div>
						<div class="sidebar-friends"></div>
						<div class="sidebar-friends"></div>
						<div class="sidebar-friends"></div>
					</div>
					<div class="sidebar-footer">
						<div class="add"></div>
					</div>
				</div>
				<div class="chat-container">
					<div class="chat-header"></div>
					<div class="message-box"></div>
				</div>
			</div>
		</div>
	</body>
</html>

<style>
	*,
	body {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	.container {
		height: 100vh;
		max-height: 100vh;

		width: 100%;
		border: 1px solid black;
		display: grid;
		place-items: center;
	}

	.content {
		height: 75%;
		max-height: 800px;

		display: flex;
		border: 1px solid red;
		width: 95%;
	}

	/* ----- sidebar ----- */

	.sidebar {
		height: 100%;
		max-height: 100%;

		border: 1px solid blue;
		width: 320px;
		max-width: 320px;
		display: flex;
		flex-direction: column;
	}

	.sidebar-header {
		margin: 1px;
		border: 1px solid red;
		height: 100px;
		background-color: rgb(255, 183, 183);
	}

	.sidebar-friendList {
		max-height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		border: 1px solid black;
		background-color: rgb(161, 161, 161);
	}

	.sidebar-friendList::-webkit-scrollbar {
		width: 8px;
	}

	.sidebar-friendList::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 4px;
	}

	.sidebar-friendList::-webkit-scrollbar-thumb:hover {
		background: #555;
	}

	.sidebar-friends {
		width: 100%;
		height: 65px;
		border: 1px solid green;
		background-color: rgb(146, 204, 146);
		margin-block: 1.5px;
	}

	.sidebar-footer {
		width: 100%;
		height: 50px;
		background-color: rgba(137, 43, 226, 0.319);
		border: 1px solid blueviolet;
	}

	/* ----- chat container ----- */

	.chat-container {
		flex-grow: 5;
		border: 1px solid orange;
		background-color: rgb(255, 227, 176);
		height: 100%;
		max-height: 100%;
	}
</style>

<script type="module">
	// import { loadHomePage } from "/renderPage/index.js";

	// document.body.innerHTML = loadHomePage();
</script>
