<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<!-- render here -->
	</body>

	<script type="module">
		import { loadLoginPage } from "/renderPage/loginPage.js";

		// render login form
		document.body.innerHTML = loadLoginPage();

		const email = document.querySelector(".email-input");
		const password = document.querySelector(".password-input");

		document.querySelector(".login-form").addEventListener("submit", async (ev) => {
			ev.preventDefault();

			const response = await fetch("http://localhost:7000/auth/login", {
				method: "POST",
				headers: {
					"content-type": "application/json",
				},
				body: JSON.stringify({
					email: email.value,
					password: password.value,
				}),
			});

			// jwt token is set to the client
			const data = await response.json();

			if (data.status === "success") {
				window.location.href = `http://localhost:7000/${data.link}`;
				return;
			}

			console.log(data);
		});
	</script>

	<style>
		.login-form {
			border: 1px solid black;
		}
	</style>
</html>
